html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #575890;
}

.text {
  text-indent: 25px;
  margin-bottom: 20px;
  font-size: 15px;
  text-align: justify;
  color: black;
}

.img {
  width: 1000px;
  margin: 0 auto 25px;
  display: block;
}

.title-main {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 10px;
}

.title-main::before,
.title-main::after {
  content: "\273f";
  color: rgb(255, 116, 116);
  background: rgb(255, 255, 199);
  border-radius: 50%;
}

.title-common_information {
  font-size: 26px;
}

.title-weather {
  font-size: 22px;
}

.text-weather1 {
  margin-bottom: 5px;
}

.item-weather {
  margin: 5px 0 5px 30px;
}

.title-citys {
  font-size: 22px;
}

.text-citys {
  font-style: italic;
}

.title-city {
  font-size: 20px;
}
